<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/normalize.css">
  		<link rel="stylesheet" href="/main.css">
	</head>
    <nav id="topnav">
        <ul id="topnav-ul">
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="/about">About</a></li>
            <li class="navli"><a href="/categories">Categories</a></li>
            <li class="navli"><a href="/contact">Contact</a></li>
        </ul>
    </nav>


<h1 id="header" >Lowell List</h1>

<% if params[:error] %>
  <h2>You're Great! I love you, but please make sure you enter all information.</h2>
<% elsif params[:success] %>
  <h2>Success!  New post created.</h2>
<% end %>

<div id="post-form">
  
  <form action="/posts" method="post">		   
   	<div class="textbox">
      <input class="name" name="name" type="text" placeholder="Your Name">
      <input class="contact" name="contact" type="text" placeholder="Email Address">
      <input class="grade" name="grade" type="text" placeholder="Grade">
      <textarea class="description" name="description" placeholder="Item Description"></textarea>
    </div>
    <div>
      <input class="button" type="submit" value="Post">
    </div>
  </form>
</div>

<ol class="post-list">
  <% posts.each do |post| %>
    <li>
      <div class="post-time">
            <%= post.created_at.strftime('%A, %B %-d, %Y') %>
      </div>     

      <div class="post-description">
          <strong><%= escape(post.description) %></strong>
      </div>
      <div class="post">
        <table>
          <tr>
            <td class="field">Name of student: </td>
            <td><%= post.name %></td>
          </tr>
          <tr>
            <td class="field">Email Addess: </td>
            <td><%= escape(post.contact) %></td>
          </tr>
          <tr>
            <td class="field">Grade of Student: </td>
            <td><%= escape(post.grade) %></td>
          </tr>
         </table>
        </div>
    </li>
  <% end %>
</ol>
